# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyo
.Python
staticfiles/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environment
.env
backend/.env
.venv
venv/
env/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini